/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

.content-div {
	@apply w-full lg:px-[20%] max-lg:px-[10%];
}

.content-heading {
	@apply sm:text-3xl max-sm:text-2xl sm:my-4 max-sm:my-3 mr-2 whitespace-nowrap;
}

.content-blockquote {
	@apply border-l-8 border-l-secondary-500 px-[4%];
}